<!DOCTYPE html>

<html>
    <head>
            <%- include('./layout/head'); -%>
    </head>

    <body>

    <h1>Book List</h1>
    <p><a href="/search">Search</a></p>
     <h3>total books: <%=results.length%></h3>
                 
        <% results.forEach((item)=>{%> 
        <img src=<%=item.image_url%>></img>
        <h3>title: <%=item.title%> </h3>  
         <p>author: <%=item.author%></p>
         <button type="submit" onclick="window.location.href='/<%=item.id%>';">view details</button>
         
         <%});%> 
        
        

    </body>
</html>